// Body
$body-bg: #f8fafc;

// Colors
$white: #fff;
// Simple blue
$blue: #1998FF;
// Dark blue
$dblue:#44566C;
// Medium blue
$mblue:#4D88D4;
// Soft blue
$sblue:#135AF7;
// Simple gray
$gray: #F6F6FA;
// Dark gray
$dgray:#62676E;
// Soft gray
$sgray: #6D7783;
